#c_video {
    max-width: 90%; /* Tamaño máximo del contenedor */
    margin: 0 auto; /* Centrado horizontal */
    margin-top: 20px;
    min-height: 400px;
}

#video_instalacion {
    width: 80%; /* Ancho completo del contenedor */
    min-height: 400px; /* Altura automática para mantener proporción */
    max-width: 80%; /* Máximo tamaño dentro del contenedor */
    display: block; /* Elimina espacios blancos */
    margin: 0 auto; /* Centrado horizontal */
    border-radius: 9px 9px 0 0; /* Bordes redondeados superiores */
}