body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding:0;
    margin-top: 100px;
}

header {
    background-color: #a14a4a;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    
    display: flex; /* Usar flexbox */
    flex-wrap: wrap;/* Permite que los botones se alineen en múltiples filas si es necesario */
    justify-content: center; /* Centrar los botones horizontalmente */
 } 
/* .cabeza{ */
    /* background-color: #d32020;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
} */

button {
    background-color: #555;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
    margin:  5px;
    margin-top: 0 10px;
    cursor: pointer;
}

button:hover {
    background-color: #777;
}

.seccion {
    padding: 20px;
    display: none; /* Por defecto, se ocultan las secciones */
}

.seccion.active {
    display: block; /* Sección visible cuando está activa */
}


#instalacion img {
    width: 50%;   /* Ajusta el ancho de la imagen al 50% del contenedor */
    height: auto;  /* Mantiene la proporción de la imagen */
    max-width: 80%; /* Evita que la imagen crezca más que el contenedor */
    display: block; /* Elimina espacios blancos debajo de las imágenes */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

/* Opcional: Puedes limitar el tamaño máximo de las imágenes para que no crezcan demasiado en pantallas grandes */
#instalacion {
    max-width: 1200px; /* Ajusta esto al máximo tamaño que quieras para el contenedor */
    margin: 0 auto; /* Centra la sección en la página */
    padding: 10px;  /* Añade algo de espacio alrededor de la sección */
    
}

/* Estilo para las descripciones */
#description {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    color: #333;
}

nav{
    position: relative;
}


/* Botones de navegación (anterior y siguiente) */
.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    z-index: 10;
    width: 10%;
    height: 20%;
    opacity: 0.8;
    border-radius: 50%;
}

#prevBtn {
    left: 0; /* Coloca el botón a la izquierda */
}

#nextBtn {
    right: 0; /* Coloca el botón a la derecha */
}

.btn:hover {
    opacity: 1; /* Hace los botones más visibles cuando se pasa el cursor sobre ellos */
}

#BTx{
    display: flex;
    border: solid 1px;
    border-radius: 9px;
    border-color: #858181;
    background-color: rgba(250, 235, 215, 0.452);
    width: 50%;
    margin: 0 auto;
}
#BTx * {
    margin-left: 7px;

}
